#root {
  width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

html, body {
  overflow-x: hidden;
}

.swiper-button-prev, .swiper-button-next {
  width: 64px !important;
  height: 64px !important;
}

.swiper-button-prev {
  background-image: url("../../assets/Swiper-Btn-Previous.svg") !important;
}

.swiper-button-next {
  background-image: url("../../assets/Swiper-Btn-Next.svg") !important;
  width: 64px;
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
  opacity: 0;
}


